@model TrainingModule.Models.Youtube
@{
    ViewData["Title"] = "Home Page";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Welcome to Team Boards!</h1>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="Images/multicare.png" class="d-block w-100" alt="multicare">
        </div>
    </div>

    <div class="container">
        <h2>Daily Updates</h2>
        <form>
            <div class="form-group">
                <label for="comment">Please, make sure to check your email daily!</label>
                <textarea class="form-control" rows="5" id="comment"></textarea>
            </div>
            <div class="form-group">
                <input type="submit" value="Previous Daily Updates" class="btn btn-success" style="margin-top:10px" />
            </div>
        </form>
    </div>
    <div class="container">
        <h2>Weekly Updates</h2>
        <form>
            <div class="form-group">
                <label for="comment">Respect/Integrity/Stewardship/Excellence/Collaboration/Kindness</label>
                <textarea class="form-control" rows="5" id="comment"></textarea>
            </div>
            <div class="form-group">
                <input type="submit" value="Previous Weekly Updates" class="btn btn-success" style="margin-top:10px" />
            </div>
        </form>
    </div>
</body>
</html>