@*@using Microsoft.Extensions.Options*@ 
@model TrainingModule.Models.Youtube
@{
    ViewData["Title"] = "Home Page";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        img {
            border: 2px solid #ddd; /* Gray border */
            border-radius: 5px; /* Rounded border */
            padding: 3px; /* Some padding */
            width: 250px;
            height: 200px
        }

        .row {
            display: flex;
        }

        /* Create three equal columns that sits next to each other */
        .column {
            flex: 25%;
            padding: 10px;
        }
    </style>
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Welcome to Team Boards!</h1>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">

            <img src="Images/multicare.png" class="d-block w-100" alt="multicare">
        </div>
    </div>
    <br />
    @*need to fix the routing issue for the picture link*@
    <h4 align-center>Click an image.</h4>
    <div class="row"> 
        <div class="column">
            <a href="@Url.Action("Index", "Updates")">
                <img src="Images/newsletter.png" alt="newsletter" style="width:100%">
                <div class="text-block">
                    <h4>Team Updates/Newsletter</h4>
                </div>
            </a>
</div>
        <div class="column">
            <a href="@Url.Action("Index", "Trainings")">
                <img src="Images/training.png" alt="training" style="width:100%">
                <div class="text-block">
                    <h4>Training Materials/Comments</h4>
                </div>
            </a>
</div>
        <div class="column">
            <a href="@Url.Action("Index", "Suggestions")">
                <img src="Images/feedback.png" alt="feedback" style="width:100%">
                <div class="text-block">
                    <h4>Suggestion Box</h4>
                </div>
            </a>
        </div>
    </div>

</body>
</html>