@model TrainingModule.Models.Training
@{
    ViewData["Title"] = "Upload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form>
<p>File Upload testing page</p>
<div class="form-group row">
    <label asp-for="Materials" class="col-sm-2 col-form-label"></label>
    <div class="col-sm-10">
        <div class="custom-file">
            <input multiple asp-for="Materials" class="form-control custom-file-input" />
            <label class="custom-file-label">Choose file</label>
        </div>
    </div>
</div>

    @*<div>
        <form asp-controller="Home" asp-action="Upload" enctype="multipart/form-data" method="post">
            <imput type="file" name="file" />
            <button type="submit">Submit</button>
        </form>
    </div>*@
<div asp-validation-summary="All" class="text-danger"></div>
<div class="form-group row">
    <div class="col-sm-10">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</div>
@section Scripts{
<script>
    $(document).ready(function () {
        $('.custom-file-input').on("change", function () {
            console.log($(this));
            //var fileName = $(this).val().split("\\").pop();
            //$(this).next('.custom-file-label').html(fileName);
        });
    });
</script>
 }
</form>
