@model TrainingModule.ViewModel.TrainingReviewVM

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Training</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Training.TrainingId" />
            <div class="form-group">
                <label asp-for="Training.Title" class="control-label"></label>
                <input asp-for="Training.Title" class="form-control" />
                <span asp-validation-for="Training.Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Training.Content" class="control-label"></label>
                <input asp-for="Training.Content" class="form-control" />
                <span asp-validation-for="Training.Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Training.UploadFile" class="control-label"></label>
                <input asp-for="Training.UploadFile" class="form-control" />
                <span asp-validation-for="Training.UploadFile" class="text-danger"></span>
            </div>
            @*<h3>Comment:</h3>
            <div class="form-group">
                <label asp-for="@Model.ReviewerTraining.Reviewer.Message" class="control-label"></label>
                <input asp-for="@Model.ReviewerTraining.Reviewer.Message" class="form-control" />
                <span asp-validation-for="@Model.ReviewerTraining.Reviewer.Message" class="text-danger"></span>
            </div>*@
           
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

