
@model TrainingModule.Models.Material
@{
    ViewData["Title"] = "Create";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

    <h3>Training Files</h3>
    <table >

        <tr>
            <td>Name :</td>
            <td>@ViewBag.material.Name</td>
        </tr>

        <tr>
            <td>Photo : </td>
            <td><img src="~/images/@ViewBag.material.Photo" width="120" /></td>
        </tr>
    </table>
    <div>
        <a asp-action="Index">Back to Upload</a>
    </div>
</body>
</html>
