@model TrainingModule.ViewModel.TrainingReviewVM

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Reviewer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Reviewer.Name" class="control-label"></label>
                <input asp-for="Reviewer.Name" class="form-control" />
                <span asp-validation-for="Reviewer.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reviewer.Message" class="control-label"></label>
                <input asp-for="Reviewer.Message" class="form-control" />
                <span asp-validation-for="Reviewer.Message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reviewer.Created" class="control-label"></label>
                <input asp-for="Reviewer.Created" class="form-control" />
                <span asp-validation-for="Reviewer.Created" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

